* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: dimgray;
    font-family: Arial, Helvetica, sans-serif;
    flex: auto;
}

.card-header {
    background-color: whitesmoke;
    border-width: 2rem;
    border-color: rgb(105, 231, 105);
}

h3 {
    color: blue;
    text-align: center;
    margin: 20px;
}

h5 {
    color: black;
    text-align: center;
    margin: 20px;
}

/* Footer */
footer {
border-top-style: solid;
border-top-width: 5px;
min-height: 60px;
font-size: 12px;
text-align: center;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
padding-top: 15px;
}      

label {
    font: small-caption;
    color: black;
    }

@media (max-width:1112px) {
    .cards{
        justify-content: center;
    }
    .card{
        width: 40%;
    margin: 2rem;
    }
}

@media (max-width:848px) {
    .card{
        width: 50%;
    }
}
