*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

ul{
    list-style: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-banner{
    background-color: whitesmoke;
    position: absolute;
    padding: 1.5rem 4rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 0 0 10px 10;
}

p.current-plan{
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
}

p.plan-type{
    font-size: 1rem;
    font-weight: 900;
}

.container{
    text-align: center;
    width: 1100px;
}

h1.title{
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
}

.toggle-switch{
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.toggler{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 50px;
    height: 25px;
    background-color:  rgb(105, 231, 105);
    border-radius: 25px;
    margin: 0 1rem;
    position: relative;
}

.toggler::before{
    content: "";
    width: 16px;
    height: 16px;
    background-color: whitesmoke;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: 4px;
}

.toggler:checked::before{
    right: 55%;
}

.cards{
    display: flex;
    justify-items: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
}

.card{
    height: 500px;
    width: 32%;
    background-color: rgb(105, 231, 105);
    border-radius: 15px;
    padding: 2rem;
    text-align: center;
}

.card-title{
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: 1rem;
}

.card.price{
    font-size: 3rem;
    text-align: center:
}