<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Bike Share</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Bike Share<span class="sr-only">(current)</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <!-- <li class="nav-item active">
                <a class="nav-link" href="index.html">Latitude <span class="sr-only">(current)</span></a>
            </li> -->
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Plot Analyses
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/weather">Historical Weather</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pricing">Pricing</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Interactive Map
                </a>
            </li>
        </ul>
    </div>
</nav> 
 <!-- end of navbar-->


   <h3 class="text-center text-success">Get The Historical Weather Information</h3>
   
    <div class="container"style="text-align: center;">

          <div class="container-fluid pt-3 my-3 bg-success text-white">
                <div class="row">
                  <div class="col-xs-6 col-md-4"></div>
                    <aside class="filters">
                        <div class="panel panel-default">
                            
                            <div class="panel-body">
                                <form id="form">
                                    <div class="form-group">
                                        <ul class="list-group" id="filters">
                                            <li class="filter list-group-item">
                                                <label for="date">Enter Start Date</label> 
                                                <input class="form-control" style="text-align: center;" id="start-date" type="text" placeholder="1/1/2019">
                                            </li>
                                            <li class="filter list-group-item">
                                                <label for="date">Enter End Date</label>
                                                <input class="form-control" style="text-align: center;" id="end-date" type="text" placeholder="12/31/2019">
                                            </li>
                                        </ul>
                                    </div>
                                  </form>
                                  <button id="filter-btn" type="submit" class="btn btn-default">Filter Table</button>
                            </div>
                          </div>
                    </aside>
                </div>
          </div>
        
        <br>
        <div class="col-md-10">
          <div id="table-area" class="">
            <table id="table" class="table table-striped">
              <thead>
                <tr>
                  <th class="table-head">Avg Cloud Cover</th>
                  <th class="table-head">Avg Wind Speed</th>
                  <th class="table-head">Forecast Date</th>
                  <th class="table-head">Humidity</th>
                  <th class="table-head">Location</th>
                  <th class="table-head">Max Temperature C</th>
                  <th class="table-head">Total Precipitation</th>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <!--Bootstrap Javascript: jQuery, Popper.js, Bootstrap JS, plotly, and d3-->

 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
 <script src="https://d3js.org/d3.v5.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
 <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


  <script type="text/javascript" src="../static/js/historical.js"></script>
</body>

</html>