<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bike Share</title>
        
        <!-- Boostrap Stylesheet -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Personal css -->
        <link rel="stylesheet" href="../static/css/pricetable.css" media="screen">

    </head>

    <body>
       <!-- navbar -->
       <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Bike Share<span class="sr-only">(current)</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="index.html">Latitude <span class="sr-only">(current)</span></a>
                </li> -->
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Plot Analyses
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/weather">Historical Weather</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pricing">Pricing</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Interactive Map
                    </a>
                </li>
            </ul>
        </div>
    </nav> 
    <!-- end of navbar-->

        <!--content-->
        <div class="container">
            <div class="col">
                <div class="row" style="background-color: rgb(105, 231, 105);"></div>
                <div class="col-md-12 jumbotron" style="text-align:center">
                    <h1>Pricing Index</h1>
                </div>
            </div>

        <!--Toronto Prices-->
        <div class="demo">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="pricingTable">
                            <div class="pricingTable-header">
                                <h3 class="Toronto Prices"></h3>
                            </div>
                            <div class="price-value">
                                <span class="amount">99</span>
                                <span class="amount-sm">00</span>
                            </div>
                            <u1 class="pricing-content">
                                <li>Annual Memebership</li>
                                <li class="disable">Yearly Subscription</li>
                            </u1>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="pricingTable">
                            <div class="pricingTable-header">
                                <h3 class="Toronto Prices"></h3>
                            </div>
                            <div class="price-value">
                                <span class="amount">15</span>
                                <span class="amount-sm">00</span>
                            </div>
                            <u1 class="pricing-content">
                                <li>Casual Member</li>
                                <li class="disable">72 HR Access Pass</li>
                            </u1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="demo">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="pricingTable">
                            <div class="pricingTable-header">
                                <h3 class="Toronto Prices"></h3>
                            </div>
                            <div class="price-value">
                                <span class="amount">7</span>
                                <span class="amount-sm">00</span>
                            </div>
                            <u1 class="pricing-content">
                                <li>Casual Member</li>
                                <li class="disable">24 HR Access Pass</li>
                            </u1>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="pricingTable">
                            <div class="pricingTable-header">
                                <h3 class="Toronto Prices"></h3>
                            </div>
                            <div class="price-value">
                                <span class="amount">3</span>
                                <span class="amount-sm">25</span>
                            </div>
                            <u1 class="pricing-content">
                                <li>Casual Member</li>
                                <li class="disable">30 Min Access Pass</li>
                            </u1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Vancouver Prices-->
         <div class="demo">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="pricingTable">
                            <div class="pricingTable-header">
                                <h3 class="Vancouver Prices"></h3>
                            </div>
                            <div class="price-value">
                                <span class="amount">159</span>
                                <span class="amount-sm">00</span>
                            </div>
                            <u1 class="pricing-content">
                                <li>Annual Memeber</li>
                                <li class="disable">365 Day Pass Plus</li>
                            </u1>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="pricingTable">
                            <div class="pricingTable-header">
                                <h3 class="Vancouver Prices"></h3>
                            </div>
                            <div class="price-value">
                                <span class="amount">129</span>
                                <span class="amount-sm">00</span>
                            </div>
                            <u1 class="pricing-content">
                                <li>Annual Memeber</li>
                                <li class="disable">365 Day Pass Standard</li>
                            </u1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="demo">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="pricingTable">
                            <div class="pricingTable-header">
                                <h3 class="Vancouver Prices"></h3>
                            </div>
                            <div class="price-value">
                                <span class="amount">25</span>
                                <span class="amount-sm">00</span>
                            </div>
                            <u1 class="pricing-content">
                                <li>Casual Member</li>
                                <li class="disable">30 Day Access Pass</li>
                            </u1>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="pricingTable">
                            <div class="pricingTable-header">
                                <h3 class="Vancouver Prices"></h3>
                            </div>
                            <div class="price-value">
                                <span class="amount">12</span>
                                <span class="amount-sm">00</span>
                            </div>
                            <u1 class="pricing-content">
                                <li>Casual Member</li>
                                <li class="disable">24 HR Access Pass</li>
                            </u1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Boston Prices-->
        <div class="demo">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="pricingTable">
                            <div class="pricingTable-header">
                                <h3 class="Boston Prices"></h3>
                            </div>
                            <div class="price-value">
                                <span class="amount">8</span>
                                <span class="amount-sm">25</span>
                            </div>
                            <u1 class="pricing-content">
                                <li>Annual Memeber</li>
                                <li class="disable">Yearly Subscription</li>
                            </u1>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="pricingTable">
                            <div class="pricingTable-header">
                                <h3 class="Boston Prices"></h3>
                            </div>
                            <div class="price-value">
                                <span class="amount">10</span>
                                <span class="amount-sm">00</span>
                            </div>
                            <u1 class="pricing-content">
                                <li>Annual Memeber</li>
                                <li class="disable">Quarterly Subscription</li>
                            </u1>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="pricingTable">
                            <div class="pricingTable-header">
                                <h3 class="Boston Prices"></h3>
                            </div>
                            <div class="price-value">
                                <span class="amount">20</span>
                                <span class="amount-sm">00</span>
                            </div>
                            <u1 class="pricing-content">
                                <li>Casual Member</li>
                                <li class="disable">Monthly Subscription</li>
                            </u1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--NYC Prices-->
        <div class="demo">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="pricingTable">
                            <div class="pricingTable-header">
                                <h3 class="NYC Prices"></h3>
                            </div>
                            <div class="price-value">
                                <span class="amount">15</span>
                                <span class="amount-sm">00</span>
                            </div>
                            <u1 class="pricing-content">
                                <li>Annual Memeber</li>
                                <li class="disable">Yearly Subscription</li>
                            </u1>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="pricingTable">
                            <div class="pricingTable-header">
                                <h3 class="NYC Prices"></h3>
                            </div>
                            <div class="price-value">
                                <span class="amount">15</span>
                                <span class="amount-sm">00</span>
                            </div>
                            <u1 class="pricing-content">
                                <li>Casual Memeber</li>
                                <li class="disable">Day Access Pass</li>
                            </u1>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="pricingTable">
                            <div class="pricingTable-header">
                                <h3 class="NYC Prices"></h3>
                            </div>
                            <div class="price-value">
                                <span class="amount">3</span>
                                <span class="amount-sm">00</span>
                            </div>
                            <u1 class="pricing-content">
                                <li>Casual Member</li>
                                <li class="disable">30 Min Access Pass</li>
                            </u1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--end of content-->
        <!--Footer-->
        <div id = "footer">
            <p>&copy; BIKE SHARE 2021</p>
        </div>

        <!--Plugins-->
        <!--Bootstrap Javascript: jQuery, Popper.js, Bootstrap JS, plotly, and d3-->
    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
        <script type="text/javascript" src="../static/js/pricing.js"></script>

    </body>

</html>