<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bike Share</title>
        
        <!-- Boostrap Stylesheet -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Personal css -->
        <link rel="stylesheet" href="../static/css/style.css" media="screen">

    </head>
    <body>

        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Bike Share<span class="sr-only">(current)</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <!-- <li class="nav-item active">
                        <a class="nav-link" href="index.html">Latitude <span class="sr-only">(current)</span></a>
                    </li> -->
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cities
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/citymap">Toronto</a>
                            <a class="dropdown-item" href="/citymap">Vancouver</a>
                            <a class="dropdown-item" href="/citymap">Boston</a>
                            <a class="dropdown-item" href="/citymap">New York</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/weather">Weather Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/prices">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/citymap">Station Route Maps</a>
                    </li>
                </ul>
            </div>
        </nav> <!-- end of navbar-->
        <!-- jumbotron area -->
        <!-- <div class="container">
            <div class="row">
                <div class="col-md-12 jumbotron" style="text-align:center">
                    <h1>Bike Share</h1>
                    <p>
                        <a href="/citymap" class="btn btn-default" role="button" aria-pressed="true">TORONTO</a> .
                        <a href="/citymap" class="btn btn-default" role="button" aria-pressed="true">VANCOUVER</a> .
                        <a href="/citymap" class="btn btn-default" role="button" aria-pressed="true">BOSTON</a> .
                        <a href="/citymap" class="btn btn-default" role="button" aria-pressed="true">NYC</a>
                    </p>
                    <hr>
                    <h5>Looking into Implementing A Sustainable, Economical and Healthy Lifestyle Practice</h5>
                </div>
            </div>
        </div> -->
        <!-- end jumbotron -->
        
        <!-- container for filters, whereto button, profile -->
        <!-- <div class="container">
            <div class="row">
                <div class="col-xs-6 col-md-4">
                    <aside class="filters">
                        <div class="panel panel-default">
                            <div class="panel-heading">Filter Search</div>
                            <div class="panel-body">
                                <form id="form">
                                    <div class="form-group">
                                        <ul class="list-group" id="filters">
                                            <li class="filter list-group-item">
                                                <label for="date">Enter Start Date</label>
                                                <input class="form-control" id="start-date" type="text" placeholder="1/1/2019">
                                            </li>
                                            <li class="filter list-group-item">
                                                <label for="date">Enter End Date</label>
                                                <input class="form-control" id="end-date" type="text" placeholder="12/31/2019">
                                            </li>
                                        </ul>
                                    </div>
                                    <button id="filter-button" type="submit" class="btn btn-default">Filter Plots</button>
                                </form>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="col-xs-6 col-md-4">
                    <div class="jumbotron text-center">
                        <a href="/citymap" class="btn btn-primary btn-large active" role="button" aria-pressed="true">Where Do People Go?</a>
                    </div>
                </div>
                <div class="col-xs-6 col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <b>City Bike Activities</b>
                        </div>
                    </div>
                    <div class="city-profile">
                        <p id="city-trips">
                            Say something about the city and its bike usage here, based on the graphs.
                        </p>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- end container for filters, whereto button, profile -->
        
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="bar-weather">
                        <!-- temperature/weather/dates -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="bubble-time">
                       <!-- active time of day -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 col-md-4">
                    <div id="bar-station">
                        popular station
                    </div>
                </div>
                <div class="col-xs-6 col-md-4">
                    <div id="gauge-meters">
                        gauge distance
                    </div>
                </div>
                <div class="col-xs-6 col-md-4">
                    <div id="gauge-secs">
                        gauge duration
                    </div>
                </div>
            </div>

        </div>

    <!--Footer-->
    <div id = "footer">
        <p>&copy; BIKE SHARE 2021</p>
    </div>
    

    <!--Plugins-->
    <!--Bootstrap Javascript: jQuery, Popper.js, Bootstrap JS, plotly, and d3-->
 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  
    <script type="text/javascript" src="../static/js/plots.js"></script>
   
    </body>
</html>