<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <title>Bike Share</title>
    <link rel="shortcut icon" type="image/png" href="https://image.flaticon.com/icons/svg/71/71422.svg" />
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">

</head>

<body>
    <!-- NAV BAR STARTS -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <h2><a class="nav-link" href="toronto.html">TORONTO</a></h2>
                </li>
                <li class="nav-item">
                    <h2><a class="nav-link" href ="vancouver.html">VANCOUVER</a></h2>
                </li>
                <li class="nav-item">
                    <h2><a class="nav-link" href="boston.html">BOSTON</a></h2>
                </li>
                <li class="nav-item">
                   <h2><a class="nav-link" href="nyc.html">NYC</a></h2>
                </li>
            </ul>
        </div>
    </nav>
</body>
<br>
    <div class="container">
        <!-- The div that hold margins etc. -->
        <main role="main" class="ml-sm-auto col-lg" style="text-align: center;">
            <div class="border-bottom">
            <h4>
                <a id="Top">Sustainable . Economical . Healthy Lifestyle</a>
            </h4>
        <br>
        <p>
        <main role="main" class="ml-sm-auto col-lg" style="text-align: left;">
            <div class="border-bottom">
            <h5>
                <a id="Summary">Introduction</a>
            </h5>
        <br> Bike-sharing is a form of transportations that has seen a significant increase in usage globally. The current shift to usage of more sustainable transportation is a trend that embraces the onset of reducing carbon emissions and allocated capital investments from urban transport. The onset helps our economy benefits our economy by encouraging methods in preventing global warming, which in turn allows us to allocate the extra capital investment into other projects that can further provide a stable infrastructure. Not only does this program provide benefits to our economy but it also encourages our public to maintain a healthy lifestyle

        As the Ministry of Transportation, we want to understand the feasibility of implementing a bike-sharing program across Canada. In Canada, we chose two major cities, Toronto & Vancouver, that already have a prototype bike-sharing program implemented and are active in gathering insight on bike-sharing programs. We chose to compare the efficiency of this program from a country with a similar economy as Canada, the US economy. The two cities, Boston, and New York will be used as a compar-ison sample against Toronto and Vancouver.
        <br>
<!-- <head>
    Required Meta Tags
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    CSS
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
        
    <title>BIKE SHARE</title>
</head>

<body>
    
    <div class="container">
        <div class="jumbotro" style="text-align: center;">
            <h1>TORONTO . VANCOUVER . BOSTON . NYC</h1>
            <p>Sustainable . Economical . Healthy Lifestyle</p>
        </div>

        <div class="container">
            <div class="col-md-12">
                <h2>Feasbility of Bike Share across Canada</h2>
                <div id="plot"></div>
            </div>
        </div>

    </div>

    <p>Hello World</p> -->

    <!--Plugins-->
    <!--Bootstrap Javascript: jQuery, Popper.js, and Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    

    <!--Footer-->
    <div id = "footer">
        <p>&copy; BIKE SHARE 2021</p>
    </div>
    
</body>
</html>