<!DOCTYPE html>
<html lang="en">
<head>
    <!--Required Meta Tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
        
    <title>BIKE SHARE</title>
</head>

<body>


    

    <!--Plugins-->
    <!--Bootstrap Javascript: jQuery, Popper.js, and Bootstrap JS-->


    <!--Footer-->
    <footer>
        <div class="footer">&copy; BIKE SHARE 2021
    </footer>
</body>
</html>